*,
*::before,
*::after {
  box-sizing: border-box;
}

.__root {
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    width: 300px;
  }

  .badges {
    .badge-link {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
